# GENERIC files
*~
.~*
*.swp
*.orig

# MPLAB-X files
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map

# MPLAB-X folders
**/html/
**/nbproject/private/
**/nbproject/Package-*.bash
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/nbactions.xml
**/nb-configuration.xml
**/funclist
**/nbproject/Makefile-*
**/disassembly/

# Sublime text
*.sublime-project
*.sublime-workspace